body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.search button, .manage-locations button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.search-buttons-location button {
    padding: 0.4rem 0.3rem;
    font-size: 0.7rem;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
.error {
    color: red;
    margin-top: 0.5rem;
}

.app {
    margin-top: 2rem;
}

.weather {
    display: flex;
    justify-content: space-between;
}

.weather_img {
    text-align: center;
}

.manage-locations {
    margin-top: 2rem;
}

.manage-locations form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.manage-locations ul {
    list-style-type: none;
    padding: 0;
}

.manage-locations li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: white;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
}

.manage-locations button {
    margin-left: 0.5rem;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
